@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.radix-themes{
  --default-font-family:var(--font-bricolage);
  --heading-font-family:var(--font-bricolage);
	--code-font-family:var(--font-bricolage);
	--strong-font-family:var(--font-bricolage);
	--em-font-family:var(--font-bricolage);
	--quote-font-family:var(--font-bricolage);
}